@page
@model Tarea_2_BD.Pages.View.List.EditaEmpleadoModel
@{
}

<h2>Edita empleado</h2>


<form method="post">
    <div class="row mb-3">
    <label>Nuevo nombre</label>
        <div class="col-sm-6">
        <input type="text" name="newNombre">
            <input type="submit">
        </div>
    </div>


    <div class="row mb-3">
        <label>Nuevo ID Puesto</label>
        <div class="col-sm-6">
            <input type="text" name="newIdPuesto">
            <input type="submit">
        </div>
    </div>


    <div class="row mb-3">
    <label>Nuevo Valor documento identidad</label>
        <div class="col-sm-6">
            <input type="text" name="NewValorDocumentoIdentidad">
            <input type="submit">
        </div>
    </div>
</form>