@page
@model Tarea_2_BD.Pages.LogIn.LoginModel
@{
}


<h2>Iniciar Sesión</h2>


<form method="POST">

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Ususario</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="Nombre" value="@Model.user.Username">
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Contraseña</label>
        <div class="col-sm-6">
            <input type="password" class="form-control" name="Contraseña" value="@Model.user.Pass">
        </div>
    </div>

   

    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Ingresar</button>
        </div>

    </div>

</form>
